html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Helvetica", "Verdana", sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  align-content: stretch;
  background: #ececec;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
}
.newsfeeder {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
/* header */
header {
  height: 48px;
  color: #fff;
  background: linear-gradient(315deg, #a151ed, #6586fc);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 1000;
  font-size: 20px;
  padding-left: 16px;
}


.header-title {
  font-weight: 400;
  color: white;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 16px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  text-transform: capitalize;
}



.hidden { display:none; }


/*-- nav start --*/
nav {
  background: white;
  font-size: 16px;
  box-shadow: 0 4px 5px 0 rgb(169,169,169,0.14), 0 2px 9px 1px rgba(169,169,169, 0.12),
    0 4px 2px -2px rgba(169,169,169, 0.2);
  
}

  @media only screen and  (max-width: 678px)  {
      nav  {
        text-align: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 48px;
        justify-content: space-around;
        z-index: 1000;
        border-bottom: 1px solid #ccc; 
      }
        nav > a {
          padding: 8px;
          font-weight: 400;
          flex:1;
          text-decoration: none;
        }
  }


  /*@media only screen and  (min-width: 678px)  {
    nav  {
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 20vw;
      height: 100vh;
      z-index: 1000;
      border-bottom: 2px solid #ccc; 
    }
      nav > a {
        padding: 12px;
        font-weight: 400;
        text-decoration: none;
    }
  
}
*/


  nav a:hover {
    cursor: pointer;
  }


  .active  {
    border-bottom: 2px solid red;
    background-position: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
  }



.active:hover {
  background: #fff radial-gradient(circle, transparent 1%, #ddd 1%) center/15000%;
}

.active:active {
  background-color: #eee;
  background-size: 100%;
  transition:  cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}



/*-- nav end  --*/

.container {
 overflow-y: auto;
 height: -moz-calc(95vh - (50px));
 height: -webkit-calc(95vh- (50px));
 height: calc(95vh - (50px));
 cursor: pointer;
 -webkit-tap-highlight-color: transparent;
}

.without-nav-container
{
  overflow-y: auto;
  height: -moz-calc(95vh - (20px));
  height: -webkit-calc(95vh- (20px));
  height: calc(95vh - (20px));
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
 }

 .desktop-container {
    display: flex;
    flex-direction: row;
 }

.vertical {
  display: flex;
  flex-direction: column;
  padding-top: 1px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}


/* Loading*/
.card {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  max-width: 100vw;
  display: flex;
  align-content: space-around;
  margin: 3px;
  text-decoration: none;
  text-decoration-color: none;
  color: inherit; 
  flex: 1 0 60%;
  height: 20vh;
  
}

.row {
  background: #fff;
  display: flex;
  align-content: space-around;
  text-decoration: none;
  text-decoration-color: none;
  color: inherit; 
  height: 20vh;
  border-bottom: 1px solid #ccc;
}




@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background {
  background: white;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}



.image-placeholder {
  flex: 2;
}
.content-placeholder {
  flex: 3;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
  margin: 0.3rem;
}

.content-placeholder-header {
  height: 10px;
}

.content-placeholder-subheader {
  height: 5px;
}

.news_header {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
}

.date-holder {
  font-size: smaller;
}

.pointer {
  padding-right: 2rem;
}

.load-more {
  display: flex;
  min-height: 10vh;
  min-width: 20vw;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: small;
}

.category-container {
  overflow-x: auto;
  cursor: pointer;
  overflow-y: hidden;
  min-height: 150px;
}

.category-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: medium;
  padding: 10px;
}

::-webkit-scrollbar :horizontal :vertical {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.category-container:last-child {
  margin-bottom: 10px;
}

.snackbar {
  position: fixed;
  background: black;
  color: white;
  padding: 20px;
  width: 100%;
  z-index: 1; /* Add a z-index if needed */
  bottom: 0px; 
}

.snackbar-animation {
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: -30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: -30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: -30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: -30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.category-group {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row ;
  flex-wrap:wrap;
  justify-content: space-around;
}

.category-card {

  box-shadow: 0 4px 5px 0 rgb(169,169,169,0.14), 0 2px 9px 1px rgba(169,169,169, 0.12),
  0 4px 2px -2px rgba(169,169,169, 0.2);
  background: white;
  padding: 5px;
  width: 200px;
  height: 18vh;
  margin-top: 20px;
  flex: 40%;
  font-size: 17px;
  line-height: 150px;
  text-align: center;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: white;
}

.business {
 background: linear-gradient(right top,#752E25,transparent),url("./images/business.jpg");
 background-size: 100% 100%;
}

.entertainment {
  background: linear-gradient(to bottom,mistyrose,transparent),url("./images/entertainment.jpg");
  background-size: 100% 100%;
  
 }

 .health {
  background: linear-gradient(to top,#8F5049,transparent),url("./images/health.jpg");
  background-size: 100% 100%;
 }

 .sports {
  background: linear-gradient(to left,#56EB84,transparent),url("./images/sports.jpg");
  background-size: 100% 100%;
 }

 .science {
  background: linear-gradient(to left,#969CE0,transparent),url("./images/science.jpg");
  background-size: 100% 100%;
 }

 .general {
  background: linear-gradient(to left,#0C3460,transparent),url("./images/general.jpg");
  background-size: 100% 100%;
 }

 .technology {
  background: linear-gradient(to top,#6586fc,transparent),url("./images/technology.jpg");
  background-size: 100% 100%;
 }

 .trending {
  background: linear-gradient(to bottom,transparent,#6586fc),url("./images/trending.jpg");
  background-size: 100% 100%;
 }
 .news-area {
   width: 60vw;
 }

 .category-box{
    width: 40vw;
    display: flex;
    flex-direction: row;
 }

 .desk-category-card {
  box-shadow: 0 4px 5px 0 rgb(169,169,169,0.14), 0 2px 9px 1px rgba(169,169,169, 0.12),
  0 4px 2px -2px rgba(169,169,169, 0.2);
  background: white;
  padding: 5px;
  width: 200px;
  height: 18vh;
  margin-top: 20px;
  flex: 40%;
  font-size: 17px;
  line-height: 150px;
  text-align: center;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: white;
 }

 .powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 10px;
 }


 .category-group  a:hover  {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


 .about {
  padding: 0px 16px 16px 8px;
  height: 95vh;
  overflow-y: scroll;
 }

